<section class="breadcum">
    <div class="brd-img">
        <img src="public/images/breadcumb-bg-1-1.jpg" alt="">
    </div>
    <div class="container">
        <div class="breadcum-inner">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">About Us</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.php" title="Home">Home</a></li>
                    <li class="active" title="About Us">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-box">
                        <div class="box-img1">
                            <img src="public/images/about_bigimg.jpg" alt="">
                        </div>
                        <div class="box-img2">
                            <img src="public/images/travel.jpg" alt="">
                        </div>
                        <div class="bg-shp1">
                            <img src="public/images/about_shape_1.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="abt-txt-box">
                        <div class="heading mb-lg-4 mb-3">
                            <br><br>
                            <h2>About us</h2>
                            <p>We came in the year of Nov 2023. At Fasttrack Travel, we believe that every journey should be an unforgettable experience. Whether you're planning a family vacation, a business trip, or a quick weekend getaway, our team of travel experts is dedicated to making your travel plans seamless and hassle-free. </p>
                        <br>
                            With years of experience in the travel industry, we specialize in:
                            <br><br>
    <strong>Tailored Travel Packages:</strong> From exotic international vacations to stunning domestic getaways, we design personalized itineraries that cater to your preferences and budget.
    Flight and Hotel Bookings: We offer competitive rates on flights, hotels, and accommodation across the globe, ensuring you get the best deals without compromising on comfort.
    <br><br>
    <strong>Visa Assistance:</strong> Our visa experts help you navigate the complexities of visa applications for a smooth travel experience.
    Corporate Travel: We provide efficient and cost-effective solutions for business travelers, managing everything from flight bookings to hotel stays and car rentals.
    Luxury Travel: For those seeking exclusivity and indulgence, we curate bespoke luxury travel experiences with private jets, five-star resorts, and unique excursions.

    <br>
    <br>

Why Choose Us?<br><br>

<strong>24/7 Customer Support:</strong> Our team is available around the clock to assist you with any queries, changes, or emergencies.
    Best Price Guarantee: We ensure you get the most competitive rates for your travel plans, offering exclusive deals and discounts.
    Trusted Partners: We collaborate with top airlines, hotels, and tour operators to provide a safe and comfortable journey.
    <br><br>
At Fasttrack Travel, we don’t just book trips—we create experiences that stay with you long after your journey ends.
</p>
<br>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="travel-cate">
    <div class="container">
        <div class="travel-cate-inner">
            <div class="row g-0">
                <div class="col-md-3 col-sm-6 coll-12">
                    <div class="travel-cate-item">
                        <div class="tci-img">
                            <img src="public/images/travel.png" alt="">
                        </div>
                        <div class="tci-txt">
                            <h4>Explore India</h4>
                            <p>Explore India with us</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 coll-12">
                    <div class="travel-cate-item">
                        <div class="tci-img">
                            <img src="public/images/plane.png" alt="">
                        </div>
                        <div class="tci-txt">
                            <h4>Flight Tickets</h4>
                            <p>Book your flight ticket at an affordable price</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 coll-12">
                    <div class="travel-cate-item">
                        <div class="tci-img">
                            <img src="public/images/departure.png" alt="">
                        </div>
                        <div class="tci-txt">
                            <h4>Hotel Reservation</h4>
                            <p>Explore the best luxury hotels with us</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 coll-12">
                    <div class="travel-cate-item">
                        <div class="tci-img">
                            <img src="public/images/car-key.png" alt="">
                        </div>
                        <div class="tci-txt">
                            <h4>Car Rental</h4>
                            <p>Book any type of vehicles at a cheap rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>