<section class="breadcum">
    <div class="brd-img">
        <img src="public/images/breadcumb-bg-1-1.jpg" alt="">
    </div>
    <div class="container">
        <div class="breadcum-inner">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Blog</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.php" title="Home">Home</a></li>
                    <li><a href="blog-inner.php" title="Home">Blog</a></li>
                    <li class="active" title="Blog">Blog Details</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="event-card">
    <div class="container">
        <div class="event-card-inner">
            <div class="row">
                <div class="col-md-8 mt-4">
                    <div class="event-card-item">
                        <div class="announce-detail">
                            <div class="ann-det-img">
                                <img src="https://picsum.photos/650/450" alt="">
                                <div class="event-datee">
                                    <i class="fas fa-calendar-alt"></i>
                                    23 Jul, 2024 </div>
                            </div>
                            <div class="ann-det-cont mt-5">
                                <h3>Artificial Intelligence Now a days</h3>
                                <p>Imagine a world where your coffee brews itself just as your alarm rings, your car
                                    drives you to work while you catch up on your favorite book, and your home’s
                                    thermostat adjusts itself based on real-time weather updates. This isn't a scene
                                    from a futuristic movie; it's today's reality, thanks to artificial intelligence
                                    (AI). AI has woven itself into the fabric of our everyday lives, drastically
                                    altering the way we live, work, and play. From simplifying tasks to solving complex
                                    problems, AI's integration into daily routines showcases the immense potential of
                                    this technology to enhance and streamline activities. In this blog, we will explore
                                    how artificial intelligence continues to redefine various sectors and help us
                                    navigate the complexities of modern life more effortlessly. Evolution of Artificial
                                    Intelligence Historical Background The fascinating journey of artificial
                                    intelligence (AI) began in the mid-20th century, rooted in the dreams of creating
                                    machines capable of mimicking human intelligence. Pioneers like Alan Turing, who
                                    proposed the Turing Test in 1950 to measure a machine's ability to exhibit
                                    intelligent behavior indistinguishable from that of a human, laid the groundwork.
                                    From its theoretical origins, AI has evolved staggeringly, growing from simple
                                    algorithms to complex machine learning and deep learning systems that learn and
                                    adapt over time. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-4">
                    <div class="event-right">
                        <div class="recet-evetop">
                            <h4>Upcoming Blog</h4>
                        </div>
                        <div class="event-grid news-event-grid">
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/100/100" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Artificial Intelligence Now a days</a></p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/100/100" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">How Artificial Intelligence Will Transform Social Media
                                            Marketing by 2024</a></p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/100/100" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Exploring Cutting-Edge Machine Learning Algorithms</a>
                                    </p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/100/100" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Mastering Local SEO Strategies for Better Visibility</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>