<section class="breadcum">
    <div class="brd-img">
        <img src="public/images/breadcumb-bg-1-1.jpg" alt="">
    </div>
    <div class="container">
        <div class="breadcum-inner">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Blog</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.php" title="Home">Home</a></li>
                    <li class="active" title="Blog">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="event-card">
    <div class="container">
        <div class="event-card-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="event-card-item">
                        <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1 mb-n30">
                            <div class="col mt-4">
                                <div class="blogpost">
                                    <div class="blogpost-image">
                                        <a href="blog-details.php"><img src="https://picsum.photos/450/300"
                                                alt=""></a>
                                        <div class="blogpost-image-thumb">
                                            <span class="date">23</span>
                                            <span class="text">Jul</span>
                                        </div>
                                    </div>
                                    <div class="blogpost-content">
                                        <h4 class="blogpost-title"><a href="blog-details.php">Artificial Intelligence
                                                Now a days</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia enim architecto adipisci non alias. Aliquid!</p>
                                        <a href="blog-details.php" class="readbtn">View All <i
                                                class="far fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="blogpost">
                                    <div class="blogpost-image">
                                        <a href="blog-details.php"><img src="https://picsum.photos/450/300"
                                                alt=""></a>
                                        <div class="blogpost-image-thumb">
                                            <span class="date">23</span>
                                            <span class="text">Jul</span>
                                        </div>
                                    </div>
                                    <div class="blogpost-content">
                                        <h4 class="blogpost-title"><a href="blog-details.php">How Artificial
                                                Intelligence Will Transform Social Media Marketing by 2024</a></h4>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus adipisci temporibus possimus minima? Dicta, consequuntur?</p>
                                        <a href="blog-details.php" class="readbtn">View All <i
                                                class="far fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="blogpost">
                                    <div class="blogpost-image">
                                        <a href="blog-details.php"><img src="https://picsum.photos/450/300"
                                                alt=""></a>
                                        <div class="blogpost-image-thumb">
                                            <span class="date">23</span>
                                            <span class="text">Jul</span>
                                        </div>
                                    </div>
                                    <div class="blogpost-content">
                                        <h4 class="blogpost-title"><a href="blog-details.php">Exploring Cutting-Edge
                                                Machine Learning Algorithms</a></h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt est nesciunt perspiciatis obcaecati exercitationem dicta.</p>
                                        <a href="blog-details.php" class="readbtn">View All <i
                                                class="far fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="blogpost">
                                    <div class="blogpost-image">
                                        <a href="blog-details.php"><img src="https://picsum.photos/450/300"
                                                alt=""></a>
                                        <div class="blogpost-image-thumb">
                                            <span class="date">23</span>
                                            <span class="text">Jul</span>
                                        </div>
                                    </div>
                                    <div class="blogpost-content">
                                        <h4 class="blogpost-title"><a href="blog-details.php">Mastering Local SEO
                                                Strategies for Better Visibility</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit at corrupti quae. Sapiente, odio enim!</p>
                                        <a href="blog-details.php" class="readbtn">View All <i
                                                class="far fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-4">
                    <div class="event-right">
                        <div class="recet-evetop">
                            <h4>Upcoming Blog</h4>
                        </div>
                        <div class="event-grid news-event-grid">
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/450/300" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Artificial Intelligence Now a days</a></p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/450/300" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">How Artificial Intelligence Will Transform Social Media
                                            Marketing by 2024</a></p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/450/300" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Exploring Cutting-Edge Machine Learning Algorithms</a>
                                    </p>
                                </div>
                            </div>
                            <div class="event-item">
                                <div class="event-img">
                                    <img src="https://picsum.photos/450/300" alt="">
                                </div>
                                <div class="event-txt">
                                    <div class="event-datee">
                                        <i class="fas fa-calendar-alt"></i>
                                        23rd Jul, 2024
                                    </div>
                                    <p><a href="blog-details.php">Mastering Local SEO Strategies for Better Visibility</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>