<section class="breadcum">
    <div class="brd-img">
        <img src="public/images/breadcumb-bg-1-1.jpg" alt="">
    </div>
    <div class="container">
        <div class="breadcum-inner">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Fasttrack Travel Refund Policy</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.php" title="Home">Home</a></li>
                    <li class="active" title="Cancellation Policy">Fasttrack Travel Refund Policy</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="privacy-policy">
    <div class="container">
        <div class="privacy-policy-inner">
            <div class="row ">
                <div class="col-lg-9">
                    <div class="privacy-txt">
                         <br> <br>
                        <h5>1. Flight Bookings</h5>
                         <ul>
                            <li><strong>Domestic Flights:</strong> Cancellations made 24 hours before the scheduled departure will incur a cancellation fee as per the airline's policy. The remaining amount will be refunded within 7-10 business days. </li>
                                <br> 
                             <li><strong> International Flights:</strong>  Cancellations must be made 72 hours before the departure. A cancellation fee will apply, and the balance will be refunded within 10-15 business days.</li>
                             <br>
                             <li><strong>Non-Refundable Tickets:</strong> Some flights may be marked as non-refundable. In such cases, only airport taxes may be refunded, subject to the airline’s discretion.</li>

                         </ul>
                         <br>
                         <h5>2. Hotel Bookings</h5>
                         <ul>
                           <li><strong>Full Refund:</strong> Cancellations made 48 hours before the check-in date will receive a full refund, excluding any service fees.</li>
                           <br> 
                           <li><strong>Partial Refund:</strong> Cancellations within 48 hours of the check-in date may be eligible for a partial refund, depending on the hotel's cancellation policy.</li> 
                           <br>
                           <li><strong>No Show:</strong> In case of a no-show without prior cancellation, no refund will be provided.</li> 
                         </ul>

                         <br>
                         <h5>3. Tour Packages</h5>
                         <ul>
                            <li><strong>Full Refund:</strong> Cancellations made 15 days prior to the start of the tour will receive a full refund.</li>
                            <br>
                            <li><strong>Partial Refund:</strong> Cancellations between 15 to 7 days will incur a 50% cancellation fee.</li>
                            <br>
                            <li><strong>No Refund:</strong> Cancellations made within 7 days of the start date are non-refundable.</li>
                         </ul>

                         <br>
                         <h5>4. Changes to Bookings</h5>
                          <p>
                            Any modifications to your booking (e.g., date changes) are subject to availability and may incur additional charges as per airline or hotel policy. Please note that some bookings may be non-amendable.
                          </p>
                          <br>
                         <h5>5. Refund Processing</h5>
                         <ul>
                           <li> - Refunds will be processed through the original mode of payment and may take 7-15 business days, depending on the bank's processing time.</li>
                           <br>
                           <li>- Service fees and any non-refundable portions as per airline, hotel, or package policies will be deducted from the total refund amount.</li>
                         </ul>
                         <br>
                         <h5>6. Special Circumstances</h5>
                          <p>
                            In the case of government-imposed travel restrictions or force majeure events (natural disasters, pandemics, etc.), the refund will be subject to the specific terms provided by airlines, hotels, and tour operators.
                          </p>
                          <br><br><br><br>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="privacy-img">
                        <img src="public/images/cancelation.jpg" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>